$desktop: 1200;
$lg: 992;
$tablet: 768;
$sm: 610;
$phone: 468;

$monaco: 'Monaco', sans-serif;

$white: #FFFFFF;
$white100: #E2E2DF;
$accent: #FC5000;
$accent100: #E84A01;
$black: #070607;
$blackText: #313131;