<!DOCTYPE html>
<html class="html" lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="css/style.min.css">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Just a moment...">
  <meta name="twitter:description" content="Checking your browser before accessing the site.">
  <meta name="twitter:image" content="https://yourdomain.com/images/preview.png">
</head>